body {
    font-family: Arial, sans-serif;
    background-color: #929290;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmacion {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.confirmacion h2 {
    color: #4CAF50;
    font-size: 24px;
}

.confirmacion p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-descargar {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton-descargar:hover {
    background-color: #45a049;
}
